header {
    background-image: url("background-header.jpg");
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: white;
    background-image: url("background-home.jpg")
}

img {
    border-radius: 0; 
    width: 500px; 
    height: 500px; 
    margin-left: auto;
  margin-right: auto;
    margin-top: 10px;
    
  }

nav ul {
    list-style-type: none; 
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px; 
}

nav ul li:last-child {
    margin-right: 0; 
}

nav ul li a {
    color: #fff; 
    text-decoration: none; 
    font-weight: bold; 
    transition: color 0.3s; 
}

nav ul li a:hover {
    color: yellow; 
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

footer {
    text-align: center;
    padding: 0;
    background-color: #000000;
    background-image: url("background-header.jpg");
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
