body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: white;
    background-image: url("background-home.jpg")
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color:white;
}

.faq-item {
    border-bottom: 1px solid whitesmoke;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.faq-item:hover {
    background-color: transparent;
}

.faq-answer {
    display: none;
    padding: 10px;
    color: white;
}

.faq-item.active .faq-answer {
    display: block;
}

.back-button {
    text-align: center;
    margin-top: 20px;
    background-color: transparent;
}

.back-button a {
    color: whitesmoke;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.back-button a:hover {
    background-color:yellowgreen;
    color: #fff;
}