body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e7c1c1;
    color: #ffffff;
    background-image: url("background-home.jpg")
}

header {
    background-image: url("background-header.jpg");
    color: white; 
    padding: 5px 0; 
    text-align: center; 
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.project {
    margin-bottom: 2rem;
}

.project img {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
}

a {
    display: inline-block;
    margin-right: 1rem;
    text-decoration: none;
    color: #333;
    background-color: #f1f1f1;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

a:hover {
    background-color: yellow;
}

footer {
    text-align: center;
    padding: 0;
    background-color: #000000;
    background-image: url("background-header.jpg");
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

